<!DOCTYPE html>
<html lang="en" class="leading-relaxed text-base mx-auto mt-2 w-11/12 sm:w-2/3 sm:max-w-lg font-sans bg-slate-900 text-slate-50 no-underline">

<head>
  <meta charset="utf-8">
  {% block title %}
  <title>{{ config.title }}</title>
  {% endblock %}
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="icon" href="/images/favicon-32x32.png" type="image/png">

  <link id="stylesheet" rel="stylesheet" type="text/css" href="/main.css">
  <link id="stylesheet" rel="stylesheet" type="text/css" href="/typography.css">
  <link rel="stylesheet" href="/foundation.min.css">
  <script src="/highlight.min.js"></script>
  <script defer>hljs.highlightAll();</script>
</head>

<div class="flex items-start border-slate-50">
  <a href="/">
    <div class="rounded-full">
      <img class="rounded-full" width="60" height="auto" src="{{ config.extra.eg_icon }}" alt="{{ config.title }}">
    </div>
  </a>
  <div class="ml-auto">
    <a class="no-underline text-slate-50" href="/">{{ config.title }}</a>
  </div>
</div>
<hr class="border-amber-200" />

<body onload="getTheme()">
  <section>
    <div>
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

<div class="flex justify-end my-4">
  <div class="flex flex-col">content &copy; {{ config.extra.eg_author }}</div>
</div>

</html>
